[Unit]
Description=Consul Template
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop consul-template
ExecStartPre=-/usr/bin/docker rm consul-template
ExecStart=/usr/bin/docker run --name consul-template \
    -v {{ consul_template_config_dir }}:/etc/consul-template/conf.d/:ro \
    -v {{ consul_template_template_dir }}:/etc/consul-template/templates/:ro \
    -v {{ consul_template_rendered_dir }}:/etc/consul-template/rendered/ \
    {{ consul_template_docker_options }} \
    {{ consul_template_image }}:{{ consul_template_image_tag }} \
    -config=/etc/consul-template/conf.d/{{ consul_template_config | basename }}
ExecStop=/usr/bin/docker stop -t 10 consul-template
TimeoutSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy={{ consul_template_wanted_by }}
