[Unit]
Description=Snort (Network intrusion detection system)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/snort -T -c {{ snort_config_path }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
